# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing
coverage/

# Production build
dist/
build/
out/

# Development files
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Editor specific files
.idea/
.vscode/
*.swp
*.swo

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Drizzle migrations
/drizzle/

# Replit specific
.replit
replit.nix
.cache/

# Generated styles
**/.next/

# Vercel
.vercel